<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Baba Alajo Thrift</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        /* Custom Styles */
        .jumbotron {
            background-color: slateblue;
            color:white;
        }

        .feature-icon {
            font-size: 4rem;
            color: #007bff;
        }

        .feature-img {
            max-width: 100%;
            height: auto;
        }
    </style>
</head>
<body>

    <div class="jumbotron text-center">
        <h1>Welcome to Baba Alajo Thrift</h1>
        <p class="lead">The platform for easy thrift contribution</p>
        <a class="btn btn-primary btn-lg" href="Member/Create" role="button">Get Started</a>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <img src="Images/T1.jpg" alt="Secure Transactions" class="feature-img mb-3">
                <h3>Secure Transactions</h3>
                <p>Ensure your transactions are secure with our advanced encryption techniques.</p>
            </div>
            <div class="col-lg-4">
                <img src="Images/T2.jpg" alt="Save Time" class="feature-img mb-3">
                <h3>Save Time</h3>
                <p>Save time by managing all your thrift contributions in one place.</p>
            </div>
            <div class="col-lg-4">
                <img src="Images/T3.jpg" alt="Community" class="feature-img mb-3">
                <h3>Community</h3>
                <p>Join a community of like-minded individuals and grow together financially.</p>
            </div>
        </div>
    </div>

    @* <footer class="footer mt-auto py-3 bg-dark text-white">
        <div class="container text-center">
            <span>&copy; 2024 Baba Alajo Thrift <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a></span>
        </div>
        <br />
        <br />
        <br />
    </footer> *@



    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.1/umd/popper.min.js" integrity="sha384-DQV6qjlnKtkQJsX4RkkLBTdN8RYddYrKIeVaFVrF+Knh3u0GJekfzaRv0ZiEZhgc" crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
